#main_container{
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 70vh;
    width: 100vw;
}

#article_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}